{% extends 'base.html' %}
{% block content %}

<style>
  label{
    color: white;
  }
</style>
  
  <hr>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="text ">Movie</label><br>

        <input type="text" name="movies" class="form-control" id="text" placeholder="Movie"><br>

      </div>

      </label>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label  for="text ">Actor</label><br>

        <input type="text" name="actor" class="form-control" id="text" placeholder="Actor"><br>
      </div>

      </label>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="text ">Director</label><br>

        <input type="text" name="director" class="form-control" id="text" placeholder="Director"><br>
      </div>

      </label>
    </div>
    <select name="gene">
      {% for c in gen %}
      <option value="{{c.0}}">{{c.1}}</option>
      {% endfor %}
    </select><br><br>
    
   
    
    <label for="image">Image</label><br>

    <input type="file" name="image" accept="image/*"><br><br>
    <br>
     </h6>
    <button type="submit" class="btn btn-primary" value="create">submit</button>
    <hr>
  </form>

{% endblock %}

{% for message in messages %}
    {% if message.tags == "error" %}
        <span style="color: red;">{{message}}</span>
    {% elif message.tags == "success" %}
        <span style="color: green;">{{message}}</span>
    {% else %}
    <span style="color: blue;">{{message}}</span>
    {% endif %}
{% endfor %}